In [1]:
#Import libraries & Loading and reading the data
import pandas as pd
data =pd.read_csv('Cortex_development_1.csv')
data

,AZUnr,Brainnr,Studynr,Gender,Termdate,Gen,TermdaysLou,Termweeks,HC,TCD,...,LTemporal3D1,ROccipitgyr3D,LOccipitgyr3D1,RMesial3D,LMesial3D1,Analysistime3D,Quality3D,Comment,CopyBrainNo,AVI
0,498010.0,101.0,1.0,1.0,15-Aug-06,12-Apr-06,155.0,22.1,202.4,24.1,...,0,0,0,1,1,5,7,NaN,101.0,1601_23w2d_a2_A.avi
1,498010.0,102.0,1.0,1.0,15-Aug-06,26-Apr-06,169.0,24.1,225.5,25.4,...,0,0,0,1,1,6,6,NaN,102.0,1601_23w2d_a2_B.avi
2,498010.0,103.0,1.0,1.0,15-Aug-06,9-May-06,182.0,26.0,#NULL!,#NULL!,...,9,9,9,1,1,4,7,NaN,103.0,1601_23w2d_a2_C.avi
3,498010.0,104.0,1.0,1.0,15-Aug-06,24-May-06,197.0,28.1,264.1,31.4,...,9,1,1,2,2,9,7,obl 3D L sylv,104.0,1601_23w2d_c_A.avi
4,498010.0,105.0,1.0,1.0,15-Aug-06,7-Jun-06,211.0,30.1,289.0,35.6,...,2,2,2,2,2,6,7,NaN,105.0,1601_23w2d_c_B.avi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306_31w1d_a2_B.avi
633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306_31w1d_a2_C.avi
634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306_31w1d_c_A.avi
635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306_31w1d_c_B.avi
636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306_31w1d_c_C.avi

In [2]:
#for col in data.columns:
    #print(col)

In [3]:
data2=data[['Brainnr','LSylvian3D1','RSylvian3D','LSuptemp3D1','RSuptemp3D']]
print(data2.shape)
data2.head()

(637, 5)

   Brainnr LSylvian3D1 RSylvian3D LSuptemp3D1 RSuptemp3D
0    101.0           2          2           0          0
1    102.0           3          3           0          0
2    103.0           3          3           9          9
3    104.0           3          3           9          2
4    105.0           3          3           3          9

In [4]:
#Coverting the desirable columns to list
df1=pd.read_csv("video names.csv")
df1 #only video names
df2=pd.read_csv("week names.csv")
df2#only week names
list_video=df1["AVI"].tolist()
list_video# list of video names
list_week=df2["Termweeks"].tolist()
list_week# list of term weeks
list_brainnr=df2["Brainnr"].tolist()
list_brainnr# list of brainnr

[2501,
 2401,
 801,
 2801,
 3301,
 701,
 2601,
 601,
 1701,
 101,
 201,
 1101,
 1801,
 2301,
 2201,
 1401,
 401,
 2101,
 2502,
 1201,
 1501,
 3101,
 802,
 2802,
 1601,
 3302,
 301,
 702,
 1901,
 2001,
 602,
 1001,
 2402,
 501,
 1702,
 102,
 2302,
 3201,
 402,
 2503,
 1202,
 3102,
 2803,
 202,
 2202,
 2602,
 1602,
 3303,
 2102,
 302,
 703,
 1402,
 1902,
 901,
 1102,
 1502,
 1802,
 103,
 502,
 603,
 803,
 1002,
 1703,
 3202,
 403,
 2303,
 1203,
 2403,
 3103,
 2804,
 203,
 2203,
 2603,
 1603,
 2504,
 3304,
 303,
 1103,
 1403,
 2103,
 902,
 1503,
 1803,
 503,
 804,
 1003,
 1704,
 104,
 2002,
 3203,
 2304,
 404,
 704,
 604,
 3104,
 1204,
 2805,
 2204,
 2604,
 3305,
 1604,
 2505,
 204,
 1903,
 2104,
 903,
 1404,
 1504,
 2003,
 1104,
 504,
 105,
 2305,
 805,
 3204,
 304,
 1205,
 3105,
 705,
 2605,
 1705,
 2205,
 2806,
 3306,
 205,
 2506,
 605,
 1605,
 1405,
 1904,
 2105,
 904,
 1105,
 1505,
 2004,
 806,
 1004,
 106,
 1804,
 2306,
 305,
 1206,
 3106,
 3205,
 505,
 706,
 2606,
 3307,
 2206,
 2507,
 1106,
 1606,
 606,
 1406,
 1905,
 2106,
 2807,
 405,
 2005,
 1506,
 807,
 1005,
 107,
 1805,
 2307,
 206,
 306,
 3206,
 905,
 1207,
 3107,
 506,
 1706,
 3308,
 2207,
 707,
 1906,
 2107,
 2808,
 1006,
 1107,
 2308,
 1407,
 1507,
 2607,
 607,
 808,
 1806,
 2508,
 108,
 406,
 1607,
 207,
 3108,
 906,
 1208,
 1707,
 3309,
 1907,
 2208,
 2108,
 3207,
 307,
 708,
 1108,
 2309,
 2608,
 809,
 1007,
 109,
 2509,
 1608,
 208,
 3109,
 507,
 308,
 709,
 209]

In [5]:
#import pandas as pd
L_week = []
for i in range(len(list_week)):
    for j in range(len(list_video)):
        if str(list_week[i])[0:2]==str(list_video[j])[5:7] and str(list_video[j])[0:3] == str(list_brainnr[i])[0:3] :
            L_week.append(str(list_week[i]))
print(type(L_week))

dfW = pd.DataFrame (L_week, columns = ['Term weeks'])
dfW.head()

<class 'list'>

  Term weeks
0       20.6
1       20.6
2       20.6
3       20.6
4       20.6

In [6]:
#import pandas as pd
L_Brainnnr = []
for i in range(len(list_week)):
    for j in range(len(list_video)):
        if str(list_week[i])[0:2]==str(list_video[j])[5:7] and str(list_video[j])[0:3] == str(list_brainnr[i])[0:3] :
            L_Brainnnr.append(str(list_brainnr[i]))
print(type(L_Brainnnr))

dfB = pd.DataFrame (L_Brainnnr, columns = ['Brainnr number'])
dfB.head()

<class 'list'>

  Brainnr number
0           2501
1           2501
2           2501
3           2501
4           2501

In [7]:
#import pandas as pd
L_Avi = []
for i in range(len(list_week)):
    for j in range(len(list_video)):
        if str(list_week[i])[0:2]==str(list_video[j])[5:7] and str(list_video[j])[0:3] == str(list_brainnr[i])[0:3] :
            L_Avi.append(str(list_video[j]))
print(type(L_Avi))

dfV = pd.DataFrame (L_Avi, columns = ['Video name'])
dfV.head()

<class 'list'>

            Video name
0  2501_20w3d_a1_A.avi
1  2501_20w3d_a1_B.avi
2  2501_20w3d_a1_C.avi
3  2501_20w3d_a2_A.avi
4  2501_20w3d_a2_B.avi

In [8]:
str(list_video[j])[0:4]

'3306'

In [9]:
#Merging using Outer join
dfWB = dfW.join(dfB, how='outer')
dfWB.head()

  Term weeks Brainnr number
0       20.6           2501
1       20.6           2501
2       20.6           2501
3       20.6           2501
4       20.6           2501

In [10]:
df_O = dfWB.join(dfV, how='outer')
df_O.head()

  Term weeks Brainnr number           Video name
0       20.6           2501  2501_20w3d_a1_A.avi
1       20.6           2501  2501_20w3d_a1_B.avi
2       20.6           2501  2501_20w3d_a1_C.avi
3       20.6           2501  2501_20w3d_a2_A.avi
4       20.6           2501  2501_20w3d_a2_B.avi

In [11]:
print(df_O.shape)
df_O.head()

(637, 3)

  Term weeks Brainnr number           Video name
0       20.6           2501  2501_20w3d_a1_A.avi
1       20.6           2501  2501_20w3d_a1_B.avi
2       20.6           2501  2501_20w3d_a1_C.avi
3       20.6           2501  2501_20w3d_a2_A.avi
4       20.6           2501  2501_20w3d_a2_B.avi

In [12]:
print(data2.shape)
data2.head()

(637, 5)

   Brainnr LSylvian3D1 RSylvian3D LSuptemp3D1 RSuptemp3D
0    101.0           2          2           0          0
1    102.0           3          3           0          0
2    103.0           3          3           9          9
3    104.0           3          3           9          2
4    105.0           3          3           3          9

In [13]:
#str(list_brainnr[i])[0:3]

In [14]:
df_main.dtypes

NameError: name 'df_main' is not defined

In [15]:
data2.dtypes

Brainnr        float64
LSylvian3D1     object
RSylvian3D      object
LSuptemp3D1     object
RSuptemp3D      object
dtype: object

In [16]:
df4=pd.read_csv("Brainnr.f.csv")
# df4.dtypes
print(df4.shape)
df4.head()
df4.dtypes

(218, 6)

Brainnr number     int64
LSylvian3D1       object
RSylvian3D        object
LSuptemp3D1       object
RSuptemp3D        object
HC                object
dtype: object

In [17]:
df4_bn = df4.astype(str)
df4_bn.dtypes
df4_bn.head()

  Brainnr number LSylvian3D1 RSylvian3D LSuptemp3D1 RSuptemp3D      HC
0            101           2          2           0          0   202.4
1            102           3          3           0          0   225.5
2            103           3          3           9          9  #NULL!
3            104           3          3           9          2   264.1
4            105           3          3           3          9     289

In [18]:
df4_bn.dtypes

Brainnr number    object
LSylvian3D1       object
RSylvian3D        object
LSuptemp3D1       object
RSuptemp3D        object
HC                object
dtype: object

In [19]:
df_main.head()

NameError: name 'df_main' is not defined

In [20]:
import numpy as np
df_main
df4
df_main["LSylvian3D1"]=np.nan
df_main["RSylvian3D"]=np.nan
df_main["LSuptemp3D1"]=np.nan
df_main["RSuptemp3D"]=np.nan
#"RSylvian3D","LSuptemp3D1","RSuptemp3D"]=np.nan
for i in range(df4.shape[0]):
    for j in range(df_main.shape[0]):
        if str(df4.iat[i,0])==str(df_main.iat[j,1]):
            df_main.iat[j,3]=df4.iat[i,1]

NameError: name 'df_main' is not defined

In [21]:
df_main.head(50)

NameError: name 'df_main' is not defined

In [22]:
dataX =pd.read_csv('Cortex_development.csv')
dataX.shape

(218, 68)

In [23]:
dataY=dataX[['Brainnr','LSylvian3D1','RSylvian3D','LSuptemp3D1','RSuptemp3D','HC']]
print(dataY.shape)
dataY.head()

(218, 6)

   Brainnr LSylvian3D1 RSylvian3D LSuptemp3D1 RSuptemp3D      HC
0      101           2          2           0          0   202.4
1      102           3          3           0          0   225.5
2      103           3          3           9          9  #NULL!
3      104           3          3           9          2   264.1
4      105           3          3           3          9   289.0

In [24]:
dataO = df_O
print(dataO.shape)
print(dataO.dtypes)
dataO.head()

(637, 3)
Term weeks        object
Brainnr number    object
Video name        object
dtype: object

  Term weeks Brainnr number           Video name
0       20.6           2501  2501_20w3d_a1_A.avi
1       20.6           2501  2501_20w3d_a1_B.avi
2       20.6           2501  2501_20w3d_a1_C.avi
3       20.6           2501  2501_20w3d_a2_A.avi
4       20.6           2501  2501_20w3d_a2_B.avi

In [25]:
dataM = pd.merge(dataO,df4_bn,on='Brainnr number',how='outer')
print(dataM.shape)
dataM.head()

(779, 8)

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
0,20.6,2501,2501_20w3d_a1_A.avi,2,9,0,9,181.3
1,20.6,2501,2501_20w3d_a1_B.avi,2,9,0,9,181.3
2,20.6,2501,2501_20w3d_a1_C.avi,2,9,0,9,181.3
3,20.6,2501,2501_20w3d_a2_A.avi,2,9,0,9,181.3
4,20.6,2501,2501_20w3d_a2_B.avi,2,9,0,9,181.3

In [26]:
dataM.loc[dataM['RSuptemp3D'] == '#NULL!']

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
769,NaN,3205,NaN,#NULL!,#NULL!,#NULL!,#NULL!,296.5

In [27]:
(dataM=='#NULL!').sum()

Term weeks        0
Brainnr number    0
Video name        0
LSylvian3D1       1
RSylvian3D        1
LSuptemp3D1       1
RSuptemp3D        1
HC                2
dtype: int64

In [28]:
dataM['LSylvian3D1'].replace(to_replace = '#NULL!', value = 0, inplace=True)
dataM['RSylvian3D'].replace(to_replace = '#NULL!', value = 0, inplace=True)
dataM['LSuptemp3D1'].replace(to_replace = '#NULL!', value = 0, inplace=True)
dataM['RSuptemp3D'].replace(to_replace = '#NULL!', value = 0, inplace=True)
dataM['HC'].replace(to_replace = '#NULL!', value = 0, inplace=True)

In [29]:
(dataM=='#NULL!').sum()

Term weeks        0
Brainnr number    0
Video name        0
LSylvian3D1       0
RSylvian3D        0
LSuptemp3D1       0
RSuptemp3D        0
HC                0
dtype: int64

In [30]:
dataM.dtypes

Term weeks        object
Brainnr number    object
Video name        object
LSylvian3D1       object
RSylvian3D        object
LSuptemp3D1       object
RSuptemp3D        object
HC                object
dtype: object

In [31]:
dataM.fillna(0)

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
0,20.6,2501,2501_20w3d_a1_A.avi,2,9,0,9,181.3
1,20.6,2501,2501_20w3d_a1_B.avi,2,9,0,9,181.3
2,20.6,2501,2501_20w3d_a1_C.avi,2,9,0,9,181.3
3,20.6,2501,2501_20w3d_a2_A.avi,2,9,0,9,181.3
4,20.6,2501,2501_20w3d_a2_B.avi,2,9,0,9,181.3
...,...,...,...,...,...,...,...,...
774,0,3304,0,4,9,2,9,260.2
775,0,3305,0,4,4,4,9,274.6
776,0,3307,0,5,9,5,9,312.4
777,0,3308,0,5,9,5,9,318.8
778,0,3309,0,5,9,5,9,334.6

In [32]:
dataM.describe()

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
count,637,779,637,779,779,779,779,779
unique,64,218,637,8,7,8,8,202
top,31.1,2309,2501_20w3d_a1_A.avi,5,9,9,9,200.8
freq,36,12,1,225,300,437,470,18

In [33]:
dataM["LSylvian3D1"] = dataM["LSylvian3D1"].astype(int)
dataM["RSylvian3D"] = dataM["RSylvian3D"].astype(int)
dataM["LSuptemp3D1"] = dataM["LSuptemp3D1"].astype(int)
dataM["RSuptemp3D"] = dataM["RSuptemp3D"].astype(int)
dataM["HC"] = dataM["HC"].astype(float)
print(dataM.dtypes)

Term weeks         object
Brainnr number     object
Video name         object
LSylvian3D1         int64
RSylvian3D          int64
LSuptemp3D1         int64
RSuptemp3D          int64
HC                float64
dtype: object

In [34]:
dataM['LSylvian3D1'].mean()

5.191270860077021

In [35]:
dataM['RSylvian3D'].mean()

5.741976893453145

In [36]:
dataM['LSuptemp3D1'].mean()

6.2798459563543005

In [37]:
dataM['RSuptemp3D'].mean()

6.694480102695763

In [38]:
dataM.describe()

       LSylvian3D1  RSylvian3D  LSuptemp3D1  RSuptemp3D          HC
count   779.000000  779.000000   779.000000  779.000000  779.000000
mean      5.191271    5.741977     6.279846    6.694480  272.141335
std       2.639063    2.728300     3.403271    3.088099   48.205737
min       0.000000    0.000000     0.000000    0.000000    0.000000
25%       3.000000    3.000000     5.000000    5.000000  233.000000
50%       5.000000    5.000000     9.000000    9.000000  279.400000
75%       9.000000    9.000000     9.000000    9.000000  313.900000
max       9.000000    9.000000     9.000000    9.000000  351.800000

In [39]:
dataM.head(779)

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
0,20.6,2501,2501_20w3d_a1_A.avi,2,9,0,9,181.3
1,20.6,2501,2501_20w3d_a1_B.avi,2,9,0,9,181.3
2,20.6,2501,2501_20w3d_a1_C.avi,2,9,0,9,181.3
3,20.6,2501,2501_20w3d_a2_A.avi,2,9,0,9,181.3
4,20.6,2501,2501_20w3d_a2_B.avi,2,9,0,9,181.3
...,...,...,...,...,...,...,...,...
774,NaN,3304,NaN,4,9,2,9,260.2
775,NaN,3305,NaN,4,4,4,9,274.6
776,NaN,3307,NaN,5,9,5,9,312.4
777,NaN,3308,NaN,5,9,5,9,318.8
778,NaN,3309,NaN,5,9,5,9,334.6

In [40]:
dataM.loc[dataM['Brainnr number'] == '2501']

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
0,20.6,2501,2501_20w3d_a1_A.avi,2,9,0,9,181.3
1,20.6,2501,2501_20w3d_a1_B.avi,2,9,0,9,181.3
2,20.6,2501,2501_20w3d_a1_C.avi,2,9,0,9,181.3
3,20.6,2501,2501_20w3d_a2_A.avi,2,9,0,9,181.3
4,20.6,2501,2501_20w3d_a2_B.avi,2,9,0,9,181.3
5,20.6,2501,2501_20w3d_a2_C.avi,2,9,0,9,181.3
6,20.6,2501,2501_20w3d_s_B.avi,2,9,0,9,181.3
7,20.6,2501,2501_20w3d_s_C.avi,2,9,0,9,181.3
8,20.6,2501,2501_20w4d_a1_A.avi,2,9,0,9,181.3
9,20.6,2501,2501_20w4d_a1_B.avi,2,9,0,9,181.3
10,20.6,2501,2501_20w4d_a1_C.avi,2,9,0,9,181.3

In [41]:
dataM["HC"] = dataM["HC"].astype(int)

In [42]:
dataM.dtypes

Term weeks        object
Brainnr number    object
Video name        object
LSylvian3D1        int64
RSylvian3D         int64
LSuptemp3D1        int64
RSuptemp3D         int64
HC                 int64
dtype: object

In [43]:
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in ./.local/lib/python3.9/site-packages (3.6.1)
Requirement already satisfied: pillow>=6.2.0 in ./.local/lib/python3.9/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: numpy>=1.19 in ./.local/lib/python3.9/site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in ./.local/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in ./.local/lib/python3.9/site-packages (from matplotlib) (4.37.4)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [44]:
!pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in ./.local/lib/python3.9/site-packages (0.12.0)
Requirement already satisfied: pandas>=0.25 in ./.local/lib/python3.9/site-packages (from seaborn) (1.5.0)
Requirement already satisfied: numpy>=1.17 in ./.local/lib/python3.9/site-packages (from seaborn) (1.23.3)
Requirement already satisfied: matplotlib>=3.1 in ./.local/lib/python3.9/site-packages (from seaborn) (3.6.1)
Requirement already satisfied: packaging>=20.0 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (1.0.5)
Requirement already satisfied: kiwisolver>=1.0.1 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/tljh/user/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in ./.local/lib/python3.9/site-packages (from matplotlib>=3.1->seaborn) (4.37.4)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)

In [45]:
from matplotlib import pyplot as plt
import seaborn as sns

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [47]:
!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in ./.local/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in ./.local/lib/python3.9/site-packages (from imblearn) (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in ./.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.2)
Requirement already satisfied: numpy>=1.17.3 in ./.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in ./.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.9.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in ./.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.0)

In [48]:
import pandas as pd
import numpy as np

In [49]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in ./.local/lib/python3.9/site-packages (1.6.2)
Requirement already satisfied: scipy in ./.local/lib/python3.9/site-packages (from xgboost) (1.9.2)
Requirement already satisfied: numpy in ./.local/lib/python3.9/site-packages (from xgboost) (1.23.3)
Note: you may need to restart the kernel to use updated packages.

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn import metrics
from sklearn import preprocessing
from sklearn.metrics import plot_roc_curve
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier

import numpy as np
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTENC

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.metrics import plot_roc_curve, roc_auc_score, accuracy_score, confusion_matrix, classification_report, fbeta_score
from sklearn import preprocessing

In [52]:
# Defining dependent and independent varaibles
y = dataM["HC"]
X = dataM[['LSylvian3D1', 'RSylvian3D', 'LSuptemp3D1','RSuptemp3D']]
#Training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=10)

# Logistic Regression

In [53]:
logReg = LogisticRegression()
logReg.fit(X_test, y_test)
log_score = logReg.score(X_test, y_test)
print("The accuracy of the Logistic model is", log_score*100)
print('')
log_pred = logReg.predict(X_test)
print(classification_report(y_test, log_pred))

The accuracy of the Logistic model is 29.743589743589745

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         181       0.40      1.00      0.57         2
         184       0.00      0.00      0.00         1
         196       0.00      0.00      0.00         2
         198       0.00      0.00      0.00         3
         200       0.00      0.00      0.00        11
         202       0.00      0.00      0.00         1
         205       0.00      0.00      0.00         3
         207       1.00      1.00      1.00         2
         208       0.00      0.00      0.00         2
         210       0.00      0.00      0.00         4
         218       0.00      0.00      0.00         1
         228       0.00      0.00      0.00         2
         229       0.50      1.00      0.67         5
         231       0.67      1.00      0.80         2
         233       0.00      0.00      0.00         3
         234       0.00      0.00      0.00         1
         236       0.24      1.00      0.38         4
         244       0.00      0.00      0.00         3
         247       0.00      0.00      0.00         1
         248       0.58      1.00      0.74         7
         249       0.28      0.71      0.40         7
         254       0.00      0.00      0.00         3
         256       0.00      0.00      0.00         2
         259       0.00      0.00      0.00         7
         260       0.00      0.00      0.00         1
         261       0.00      0.00      0.00         2
         262       0.00      0.00      0.00         1
         263       0.36      0.83      0.50         6
         269       0.50      1.00      0.67         5
         272       0.00      0.00      0.00         1
         273       0.00      0.00      0.00         1
         274       0.00      0.00      0.00         2
         275       0.00      0.00      0.00         2
         278       0.00      0.00      0.00         1
         279       0.26      1.00      0.42         5
         280       0.00      0.00      0.00         3
         283       0.00      0.00      0.00         3
         284       0.00      0.00      0.00         3
         286       0.00      0.00      0.00         2
         291       0.00      0.00      0.00         1
         292       0.00      0.00      0.00         1
         294       0.00      0.00      0.00         3
         296       0.00      0.00      0.00         2
         298       0.00      0.00      0.00         3
         299       0.00      0.00      0.00         2
         300       0.00      0.00      0.00         2
         304       0.00      0.00      0.00         1
         305       0.00      0.00      0.00         1
         309       0.00      0.00      0.00         4
         310       0.00      0.00      0.00         2
         311       0.00      0.00      0.00         2
         312       0.00      0.00      0.00         2
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         2
         315       0.00      0.00      0.00         3
         319       0.00      0.00      0.00         2
         320       0.00      0.00      0.00         2
         321       0.00      0.00      0.00         5
         322       0.00      0.00      0.00         2
         323       0.43      1.00      0.60         3
         324       0.00      0.00      0.00         6
         326       0.00      0.00      0.00         1
         331       0.20      1.00      0.33         7
         333       0.23      1.00      0.38         3
         334       0.00      0.00      0.00         2
         336       0.50      0.50      0.50         6
         337       0.00      0.00      0.00         2
         348       0.00      0.00      0.00         2
         351       0.00      0.00      0.00         1

    accuracy                           0.30       195
   macro avg       0.09      0.18      0.11       195
weighted avg       0.13      0.30      0.18       195

/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Decision Tree classifier

In [54]:
DCC = DecisionTreeClassifier()
DCC.fit(X_test, y_test)
dt_score = DCC.score(X_test, y_test)
print("The accuracy of Decision tree classifier model is", dt_score)
print('')
Dectree_pred = DCC.predict(X_test)
print(classification_report(y_test, Dectree_pred))

The accuracy of Decision tree classifier model is 0.5538461538461539

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         181       0.40      1.00      0.57         2
         184       0.50      1.00      0.67         1
         196       0.00      0.00      0.00         2
         198       0.22      0.67      0.33         3
         200       0.85      1.00      0.92        11
         202       1.00      1.00      1.00         1
         205       0.00      0.00      0.00         3
         207       1.00      1.00      1.00         2
         208       0.00      0.00      0.00         2
         210       1.00      0.50      0.67         4
         218       1.00      1.00      1.00         1
         228       0.40      1.00      0.57         2
         229       1.00      1.00      1.00         5
         231       1.00      1.00      1.00         2
         233       0.00      0.00      0.00         3
         234       0.00      0.00      0.00         1
         236       0.50      1.00      0.67         4
         244       0.75      1.00      0.86         3
         247       0.50      1.00      0.67         1
         248       0.88      1.00      0.93         7
         249       0.50      0.71      0.59         7
         254       0.00      0.00      0.00         3
         256       0.67      1.00      0.80         2
         259       1.00      0.29      0.44         7
         260       0.00      0.00      0.00         1
         261       0.00      0.00      0.00         2
         262       1.00      1.00      1.00         1
         263       1.00      0.67      0.80         6
         269       0.56      1.00      0.71         5
         272       1.00      1.00      1.00         1
         273       1.00      1.00      1.00         1
         274       1.00      1.00      1.00         2
         275       1.00      1.00      1.00         2
         278       0.00      0.00      0.00         1
         279       1.00      1.00      1.00         5
         280       1.00      1.00      1.00         3
         283       1.00      0.33      0.50         3
         284       0.00      0.00      0.00         3
         286       1.00      1.00      1.00         2
         291       1.00      1.00      1.00         1
         292       0.00      0.00      0.00         1
         294       0.21      1.00      0.35         3
         296       0.00      0.00      0.00         2
         298       0.60      1.00      0.75         3
         299       1.00      0.50      0.67         2
         300       0.00      0.00      0.00         2
         304       0.00      0.00      0.00         1
         305       1.00      1.00      1.00         1
         309       0.00      0.00      0.00         4
         310       0.00      0.00      0.00         2
         311       0.00      0.00      0.00         2
         312       0.00      0.00      0.00         2
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         2
         315       0.00      0.00      0.00         3
         319       0.00      0.00      0.00         2
         320       0.00      0.00      0.00         2
         321       0.00      0.00      0.00         5
         322       0.00      0.00      0.00         2
         323       0.43      1.00      0.60         3
         324       0.00      0.00      0.00         6
         326       0.00      0.00      0.00         1
         331       0.21      1.00      0.34         7
         333       0.27      1.00      0.43         3
         334       0.00      0.00      0.00         2
         336       0.60      0.50      0.55         6
         337       0.00      0.00      0.00         2
         348       0.00      0.00      0.00         2
         351       1.00      1.00      1.00         1

    accuracy                           0.55       195
   macro avg       0.42      0.50      0.43       195
weighted avg       0.48      0.55      0.47       195

/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Random Forest Classifier

In [55]:
RFC = RandomForestClassifier(n_estimators = 2)
RFC.fit(X_test, y_test)
rf_score = RFC.score(X_test, y_test)
print("The accuracy of Random forest model is", rf_score)
print('')
randfor_pred = RFC.predict(X_test)
print(classification_report(y_test, randfor_pred))

The accuracy of Random forest model is 0.5025641025641026

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         181       0.40      1.00      0.57         2
         184       0.00      0.00      0.00         1
         196       0.50      0.50      0.50         2
         198       0.25      0.33      0.29         3
         200       0.89      0.73      0.80        11
         202       1.00      1.00      1.00         1
         205       0.22      0.67      0.33         3
         207       1.00      1.00      1.00         2
         208       0.00      0.00      0.00         2
         210       1.00      0.50      0.67         4
         218       1.00      1.00      1.00         1
         228       0.00      0.00      0.00         2
         229       0.62      1.00      0.77         5
         231       1.00      1.00      1.00         2
         233       0.00      0.00      0.00         3
         234       0.00      0.00      0.00         1
         236       0.50      1.00      0.67         4
         244       0.75      1.00      0.86         3
         247       0.33      1.00      0.50         1
         248       0.88      1.00      0.93         7
         249       0.50      0.71      0.59         7
         254       0.00      0.00      0.00         3
         256       0.00      0.00      0.00         2
         259       0.50      0.86      0.63         7
         260       0.00      0.00      0.00         1
         261       0.00      0.00      0.00         2
         262       1.00      1.00      1.00         1
         263       0.60      1.00      0.75         6
         269       0.00      0.00      0.00         5
         272       1.00      1.00      1.00         1
         273       0.00      0.00      0.00         1
         274       1.00      1.00      1.00         2
         275       1.00      1.00      1.00         2
         278       0.00      0.00      0.00         1
         279       1.00      1.00      1.00         5
         280       1.00      0.67      0.80         3
         283       1.00      0.33      0.50         3
         284       0.00      0.00      0.00         3
         286       1.00      1.00      1.00         2
         291       1.00      1.00      1.00         1
         292       0.00      0.00      0.00         1
         294       0.21      1.00      0.35         3
         296       0.00      0.00      0.00         2
         298       0.60      1.00      0.75         3
         299       0.00      0.00      0.00         2
         300       0.00      0.00      0.00         2
         304       0.00      0.00      0.00         1
         305       0.00      0.00      0.00         1
         309       0.00      0.00      0.00         4
         310       0.00      0.00      0.00         2
         311       0.00      0.00      0.00         2
         312       0.00      0.00      0.00         2
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         2
         315       0.00      0.00      0.00         3
         319       0.00      0.00      0.00         2
         320       0.00      0.00      0.00         2
         321       0.00      0.00      0.00         5
         322       0.00      0.00      0.00         2
         323       0.43      1.00      0.60         3
         324       0.00      0.00      0.00         6
         326       0.00      0.00      0.00         1
         331       0.21      1.00      0.34         7
         333       0.27      1.00      0.43         3
         334       0.40      1.00      0.57         2
         336       0.00      0.00      0.00         6
         337       0.00      0.00      0.00         2
         348       0.00      0.00      0.00         2
         351       0.50      1.00      0.67         1

    accuracy                           0.50       195
   macro avg       0.33      0.43      0.35       195
weighted avg       0.38      0.50      0.41       195

/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Gradient Boosting Classifier

In [56]:
GBC = GradientBoostingClassifier(learning_rate=0.1)
GBC.fit(X_test, y_test)
Graboo_pred = GBC.predict(X_test)
gb_score = GBC.score(X_test, y_test)
print("The accuracy of Gradient boosting model is", gb_score)
print('')
print(classification_report(y_test, Graboo_pred))

The accuracy of Gradient boosting model is 0.5538461538461539

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         181       0.40      1.00      0.57         2
         184       0.50      1.00      0.67         1
         196       0.00      0.00      0.00         2
         198       0.22      0.67      0.33         3
         200       0.85      1.00      0.92        11
         202       1.00      1.00      1.00         1
         205       0.00      0.00      0.00         3
         207       1.00      1.00      1.00         2
         208       0.00      0.00      0.00         2
         210       1.00      0.50      0.67         4
         218       1.00      1.00      1.00         1
         228       0.40      1.00      0.57         2
         229       1.00      1.00      1.00         5
         231       1.00      1.00      1.00         2
         233       0.00      0.00      0.00         3
         234       0.00      0.00      0.00         1
         236       0.50      1.00      0.67         4
         244       0.75      1.00      0.86         3
         247       0.50      1.00      0.67         1
         248       0.88      1.00      0.93         7
         249       0.50      0.71      0.59         7
         254       0.00      0.00      0.00         3
         256       0.67      1.00      0.80         2
         259       1.00      0.29      0.44         7
         260       0.00      0.00      0.00         1
         261       0.00      0.00      0.00         2
         262       1.00      1.00      1.00         1
         263       1.00      0.67      0.80         6
         269       0.56      1.00      0.71         5
         272       1.00      1.00      1.00         1
         273       1.00      1.00      1.00         1
         274       1.00      1.00      1.00         2
         275       1.00      1.00      1.00         2
         278       0.00      0.00      0.00         1
         279       1.00      1.00      1.00         5
         280       1.00      1.00      1.00         3
         283       1.00      0.33      0.50         3
         284       0.00      0.00      0.00         3
         286       1.00      1.00      1.00         2
         291       1.00      1.00      1.00         1
         292       0.00      0.00      0.00         1
         294       0.21      1.00      0.35         3
         296       0.00      0.00      0.00         2
         298       0.60      1.00      0.75         3
         299       1.00      0.50      0.67         2
         300       0.00      0.00      0.00         2
         304       0.00      0.00      0.00         1
         305       1.00      1.00      1.00         1
         309       0.00      0.00      0.00         4
         310       0.00      0.00      0.00         2
         311       0.00      0.00      0.00         2
         312       0.00      0.00      0.00         2
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         2
         315       0.00      0.00      0.00         3
         319       0.00      0.00      0.00         2
         320       0.00      0.00      0.00         2
         321       0.00      0.00      0.00         5
         322       0.00      0.00      0.00         2
         323       0.43      1.00      0.60         3
         324       0.00      0.00      0.00         6
         326       0.00      0.00      0.00         1
         331       0.21      1.00      0.34         7
         333       0.27      1.00      0.43         3
         334       0.00      0.00      0.00         2
         336       0.60      0.50      0.55         6
         337       0.00      0.00      0.00         2
         348       0.00      0.00      0.00         2
         351       1.00      1.00      1.00         1

    accuracy                           0.55       195
   macro avg       0.42      0.50      0.43       195
weighted avg       0.48      0.55      0.47       195

/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Gaussian Naive Bayes classifier

In [57]:
GNB = GaussianNB()
GNB.fit(X_test, y_test)
nb_score = GNB.score(X_test, y_test)
print("The accuracy of Naive Bayes model is", nb_score)
print('')
Naibay_pred = GNB.predict(X_test)
print(classification_report(y_test, Naibay_pred))

The accuracy of Naive Bayes model is 0.4358974358974359

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
         176       0.00      0.00      0.00         1
         181       0.40      1.00      0.57         2
         184       0.50      1.00      0.67         1
         196       0.00      0.00      0.00         2
         198       0.25      0.33      0.29         3
         200       0.00      0.00      0.00        11
         202       1.00      1.00      1.00         1
         205       0.17      0.33      0.22         3
         207       1.00      1.00      1.00         2
         208       0.00      0.00      0.00         2
         210       0.00      0.00      0.00         4
         218       1.00      1.00      1.00         1
         228       0.40      1.00      0.57         2
         229       1.00      1.00      1.00         5
         231       1.00      1.00      1.00         2
         233       0.30      1.00      0.46         3
         234       0.11      1.00      0.20         1
         236       0.50      1.00      0.67         4
         244       0.75      1.00      0.86         3
         247       0.50      1.00      0.67         1
         248       0.88      1.00      0.93         7
         249       0.00      0.00      0.00         7
         254       0.00      0.00      0.00         3
         256       0.67      1.00      0.80         2
         259       0.00      0.00      0.00         7
         260       0.00      0.00      0.00         1
         261       0.00      0.00      0.00         2
         262       1.00      1.00      1.00         1
         263       1.00      0.50      0.67         6
         269       0.56      1.00      0.71         5
         272       1.00      1.00      1.00         1
         273       1.00      1.00      1.00         1
         274       1.00      1.00      1.00         2
         275       1.00      1.00      1.00         2
         278       0.00      0.00      0.00         1
         279       1.00      1.00      1.00         5
         280       0.00      0.00      0.00         3
         283       0.00      0.00      0.00         3
         284       0.00      0.00      0.00         3
         286       1.00      1.00      1.00         2
         291       1.00      1.00      1.00         1
         292       0.00      0.00      0.00         1
         294       0.21      1.00      0.35         3
         296       0.00      0.00      0.00         2
         298       0.60      1.00      0.75         3
         299       0.00      0.00      0.00         2
         300       0.00      0.00      0.00         2
         304       0.00      0.00      0.00         1
         305       1.00      1.00      1.00         1
         309       0.00      0.00      0.00         4
         310       0.00      0.00      0.00         2
         311       0.00      0.00      0.00         2
         312       0.00      0.00      0.00         2
         313       0.00      0.00      0.00         1
         314       0.00      0.00      0.00         2
         315       0.00      0.00      0.00         3
         319       0.00      0.00      0.00         2
         320       0.00      0.00      0.00         2
         321       0.00      0.00      0.00         5
         322       0.00      0.00      0.00         2
         323       0.43      1.00      0.60         3
         324       0.00      0.00      0.00         6
         326       0.00      0.00      0.00         1
         331       0.21      1.00      0.34         7
         333       0.27      1.00      0.43         3
         334       0.40      1.00      0.57         2
         336       0.00      0.00      0.00         6
         337       0.00      0.00      0.00         2
         348       0.00      0.00      0.00         2
         351       1.00      1.00      1.00         1

    accuracy                           0.44       195
   macro avg       0.34      0.47      0.37       195
weighted avg       0.31      0.44      0.34       195

/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jupyter-ssirasap/.local/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [62]:
df_O.head()

  Term weeks Brainnr number           Video name
0       20.6           2501  2501_20w3d_a1_A.avi
1       20.6           2501  2501_20w3d_a1_B.avi
2       20.6           2501  2501_20w3d_a1_C.avi
3       20.6           2501  2501_20w3d_a2_A.avi
4       20.6           2501  2501_20w3d_a2_B.avi

In [63]:
df_O.shape

(637, 3)

In [64]:
df4=pd.read_csv("Brainnr.f.csv")
# df4.dtypes
print(df4.shape)
df4.head()

(218, 6)

   Brainnr number LSylvian3D1 RSylvian3D LSuptemp3D1 RSuptemp3D      HC
0             101           2          2           0          0   202.4
1             102           3          3           0          0   225.5
2             103           3          3           9          9  #NULL!
3             104           3          3           9          2   264.1
4             105           3          3           3          9     289

In [65]:
dataM.head(779)

,Term weeks,Brainnr number,Video name,LSylvian3D1,RSylvian3D,LSuptemp3D1,RSuptemp3D,HC
0,20.6,2501,2501_20w3d_a1_A.avi,2,9,0,9,181
1,20.6,2501,2501_20w3d_a1_B.avi,2,9,0,9,181
2,20.6,2501,2501_20w3d_a1_C.avi,2,9,0,9,181
3,20.6,2501,2501_20w3d_a2_A.avi,2,9,0,9,181
4,20.6,2501,2501_20w3d_a2_B.avi,2,9,0,9,181
...,...,...,...,...,...,...,...,...
774,NaN,3304,NaN,4,9,2,9,260
775,NaN,3305,NaN,4,4,4,9,274
776,NaN,3307,NaN,5,9,5,9,312
777,NaN,3308,NaN,5,9,5,9,318
778,NaN,3309,NaN,5,9,5,9,334

In [66]:
dataM.shape

(779, 8)